switch {
  // similar to GtkScale
  border-radius: $button_radius;
  padding: 2px;

  background-color: var(--color-switch-track-off);

  &:hover { background-color: var(--color-switch-track-off-hover); }
  
  @include focus-ring($offset: 1px, $outer: true, $transition: $button_transition);

  &:disabled {
    filter: Opacity(var(--disabled-opacity));
  }

  > slider {
    min-width: 20px;
    min-height: 20px;
    border-radius: 50%;
    background-color: #ffffff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    transition: all 300ms $ease-out-quad;

    @media (prefers-color-scheme: dark) {
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
    }

    &:disabled {
      box-shadow: none;
    }
  }
  
  &:active > slider {
    min-width: 26px;
    box-shadow: inset 1px 2px 1px -1px var(--accent-bg-color), inset -1px -1px 1px -1px white;
  }

  &:checked {
    color: white;
    background-color: var(--accent-bg-color);
    background-image: none;

    &:hover { background-image: image(color-mix(in srgb, currentColor 10%, transparent)); }
    &:active { background-image: image(RGB(0 0 6 / 20%)); }

    > slider {
      background-color: #ffffff;
    }

    @media (prefers-contrast: more) {
      > image {  color: inherit; }
    }
  }

  .osd & {
    &:checked {
      background-color: RGB(255 255 255 / 60%);
    }
  }
}
