tabbar {
  .box {
    min-height: 34px;
    color: var(--headerbar-fg-color);
    margin: 2px 6px;
    box-shadow: none;
    border: none;
    padding: 2px 0;
    background-color: color-mix(in srgb, var(--headerbar-fg-color) 8%, transparent);
    border-radius: var(--radius-pill);

    @media (prefers-contrast: more) {
      box-shadow: inset 0 -1px $headerbar_border_color;
    }

    &:backdrop {
      transition: background-color $backdrop_transition;

      > scrolledwindow,
      > .start-action,
      > .end-action {
        filter: opacity(0.5);
        transition: filter $backdrop_transition;
      }
    }
  }

  tabbox {
    border: none;
    padding: 0;
    box-shadow: none;
    background-color: transparent;
    min-height: 34px;
    margin: 0;

    > tabboxchild {
      @include focus-ring($focus-state: ':focus-within:focus-visible');
      border-radius: var(--radius-pill);
      margin: 0;
    }

    > separator {
      margin: 6px 0;
      background-color: color-mix(in srgb, var(--headerbar-fg-color) 15%, transparent);
      transition: opacity 150ms ease-in-out;

      &.hidden {
        opacity: 0;
      }
    }

    > revealer > indicator {
      min-width: 2px;
      border-radius: 2px;
      margin: 3px 6px;
      background: color-mix(in srgb, var(--accent-color) 50%, transparent);

      @media (prefers-contrast: more) {
        background: var(--accent-color);
      }
    }
  }

  tab {
    color: color-mix(in srgb, var(--headerbar-fg-color) 60%, transparent);
    background-color: transparent;
    border: none;
    transition: all 150ms ease-out;
    border-radius: var(--radius-pill);
    padding: 2px 5px;
    margin: 0;

    @media (prefers-contrast: more) {
      &:hover,
      &:active,
      &:selected {
        box-shadow: inset 0 0 0 1px $border_color;
      }
    }

    &:selected {
      color: var(--headerbar-fg-color);
      background-color: var(--window-bg-color);
      box-shadow: 0 2px 3px rgba(0, 0, 0, 0.08), inset 1px 2px 1px -1px rgba(255, 255, 255, 0.15), inset -1px -1px 1px -1px rgba(255, 255, 255, 0.2);

      @media (prefers-color-scheme: dark) {
        background-color: color-mix(in srgb, var(--window-bg-color) 95%, white 5%);
        box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2), inset 1px 2px 1px -1px rgba(255, 255, 255, 0.05), inset -1px -1px 1px -1px rgba(255, 255, 255, 0.02);
      }
    }

    &:hover:not(:selected) { 
      color: color-mix(in srgb, var(--headerbar-fg-color) 80%, transparent);
      background-color: color-mix(in srgb, var(--headerbar-fg-color) 10%, transparent);
    }
    
    &:active:not(:selected) { 
      color: var(--headerbar-fg-color);
      background-color: color-mix(in srgb, var(--headerbar-fg-color) 15%, transparent);
    }
  }

  tabbox.single-tab tab {
    &, &:hover, &:active {
      background: none;

      @media (prefers-contrast: more) {
        box-shadow: none;
      }
    }
  }

  .start-action,
  .end-action {
    padding: 6px;

    button {
      min-height: 34px;
      min-width: 34px;
      padding: 2px;
      border-radius: var(--radius-pill);
    }
  }

  .start-action:dir(ltr),
  .end-action:dir(rtl) {
    padding-right: 0;
  }

  .start-action:dir(rtl),
  .end-action:dir(ltr) {
    padding-left: 0;
  }

  &.inline {
    @extend %tabbar-inline;
  }
}

%tabbar-inline .box {
  min-height: 34px;
  margin: 0;
  padding: 3px;
  background-color: transparent;
  color: inherit;
  border-radius: 0;
  box-shadow: none;

  &:backdrop {
    background-color: transparent;
    transition: none;

    > scrolledwindow,
    > .start-action,
    > .end-action {
      filter: none;
      transition: none;
    }
  }
}

%tabbar-shrunk {
  tabbox,
  .start-action,
  .end-action {
    padding-top: 3px;
    padding-bottom: 3px;
  }
}

dnd tab {
  background-color: var(--headerbar-bg-color);
  background-image: image($selected_active_color);
  color: var(--headerbar-fg-color);

  box-shadow: 0 0 0 1px RGB(0 0 0 / 3%),
              0 1px 3px 1px RGB(0 0 0 / 7%),
              0 2px 6px 2px RGB(0 0 0 / 3%);

  @media (prefers-contrast: more) {
    outline: 1px solid $border_color;
    outline-offset: -1px;
  }

  margin: 25px;
}

tabbar,
dnd {
  tab {
    min-height: 28px;
    padding: 4px 16px;
    border-radius: var(--radius-pill);

    button.image-button {
      padding: 0;
      margin-left: 6px;
      min-width: 14px;
      min-height: 14px;
      border-radius: var(--radius-pill);
      background-color: transparent;

      /* Standard text color for the X icon */
      color: inherit;

      &:hover {
        background-color: $hover_color;
      }

      &:active {
        background-color: $active_color;
      }
    }

    indicator {
      min-height: 2px;
      border-radius: 2px;
      background: color-mix(in srgb, var(--accent-color) 50%, transparent);
      transform: translateY(4px);

      @media (prefers-contrast: more) {
        background: var(--accent-color);
      }
    }
  }
}

tabgrid > tabgridchild {
  @include focus-ring(".card", $offset: 0, $outer: true);
}

tabthumbnail {
  border-radius: $card_radius + 4px;

  > box {
    margin: 6px;
  }

  &:drop(active) {
    box-shadow: inset 0 0 0 2px color-mix(in srgb, $drop_target_color 40%, transparent);
    background-color: color-mix(in srgb, $drop_target_color 10%, transparent);
  }

  transition: box-shadow 200ms $ease-out-quad, background-color $ease-out-quad;

  .needs-attention {
    &:dir(ltr) { transform: translate(8px, -8px); }
    &:dir(rtl) { transform: translate(-8px, -8px); }

    > widget {
      background: var(--accent-color);
      min-width: 12px;
      min-height: 12px;
      border-radius: 8px;
      margin: 3px;
      box-shadow: 0 1px 2px color-mix(in srgb, var(--accent-color) 40%, transparent);
    }
  }

  .card {
    picture {
      outline: 1px solid $window_outline_color;
      outline-offset: -1px;
      border-radius: $card_radius;

      @media (prefers-contrast: more) {
        outline-color: $window_outline_color_hc;
      }
    }

    background: none;
    color: inherit;

    @media (prefers-contrast: more) {
      box-shadow: 0 0 0 1px RGB(0 0 6 / 50%),
                  0 1px 3px 1px RGB(0 0 6 / 7%),
                  0 2px 6px 2px RGB(0 0 6 / 3%);
    }
  }

  &.pinned .card {
    background-color: var(--thumbnail-bg-color);
    color: var(--thumbnail-fg-color);

    @media (prefers-contrast: more) {
      outline: 1px solid $window_outline_color_hc;
      outline-offset: -1px;
    }
  }

  .icon-title-box {
    border-spacing: 6px;
  }

  .tab-unpin-icon {
    margin: 6px;
    min-width: 24px;
    min-height: 24px;
  }

  button {
    &.image-button {
      padding: 0;
    }

    border-radius: 99px;

    &, &:hover, &:active {
      background: none;
      box-shadow: none;
    }

    > image {
      margin: 6px;
      background-color: color-mix(in srgb, var(--thumbnail-bg-color) 75%, transparent);
      min-width: 24px;
      min-height: 24px;
      border-radius: 9999px;
      transition: $button_transition;

      @media (prefers-contrast: more) {
        box-shadow: 0 0 0 1px currentColor;
      }
    }

    &:hover > image {
      background-color: color-mix(in srgb, var(--thumbnail-bg-color) calc(0.9 * 75%), currentColor calc(0.1 * 75%));
    }

    &:active > image {
      background-color: color-mix(in srgb, var(--thumbnail-bg-color) calc(0.8 * 75%), currentColor calc(0.2 * 75%));
    }
  }
}

taboverview > .overview {
  color: var(--overview-fg-color);
  background-color: var(--overview-bg-color);

  .new-tab-button {
    margin: 18px;
  }
}

tabview:drop(active),
tabbox:drop(active),
tabgrid:drop(active) {
  box-shadow: none;
}
